
/* ------- Header File ---------- */
#menu {
    padding: 20px;
    background-color: #333;
    display: flex;
    flex-direction: row;
  }
  
#menu a {
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
}

#menu a:hover {
background-color: #777;
}

/* ------- Body Container ---------- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}
h1, h2 {
    text-align: center;
}

/* Main Title of The Page */

#title {
    padding-left:20px;
    padding-right:20px;
    font-size: 1.5em;
}

/* Home Page */
.blogs_container {
    padding: 20px; 
    min-height: 550px;
    display: inline-table;
    align-items: center;
    vertical-align: center;
    
}

.blogs_container h2, .lists_container h2, .create_container h2{
    font-size: 2.5em;
    margin: 0px;
    padding-bottom: 20px;
    text-align: center;
}


/* Showing a blog */

.blog {
    border-bottom: 1px solid #ccc;
    text-align: justify;;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    border: none;
}
.blog h3{
    text-align: justify;
    font-size: 2em;
}
.blog img {
    max-width: 500px;
    height: auto;
    text-decoration: solid;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
    
}
#blog_show{
    text-align: center;
}
.blog_body{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    word-spacing: normal;
    letter-spacing: 1px;
   
}



/* Pagination */
#pagination {
    
    overflow: auto;
    white-space: nowrap;
    align-items: center;
  }
  
#pagination li {
display: inline-block;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
} 
.pagination{
    padding: 0px;
    margin: 0px;
}
.pagination a {
    color: black;
}
.pagination a:hover {
color: red;
}

/* Blogs Table */
.blogs_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    padding-bottom: 10px;

}
.blogs_list:hover{
    border: 1px solid;
    border-radius: 5px;;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
 }
.table{
    min-height: 420px;
}
.blogs_list a ul {
    color: black;
    text-align: left;
    text-decoration: none;
    padding:0px;
}
#table_title{
    width: 70%;
    text-align:left;
}
#table_by{
    width: 20%;
    text-align:left;
}
.blogs_list a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:100%
}
.row{
    display: grid;
    width: 80%;
    margin-left:70px;
    padding: 20px;
}

.blogs_list a:hover{
    text-decoration: solid;
    color: blue;
}

/* Post Blog Styling */
.lists_container, .create_container{
    width: 90%;
    justify-self: center;
    min-height: 550px;
    margin:auto;
    
}
.create_container{
    text-align: justify;
    justify-items: auto;
}
.create_container h2, .create_container label{
    text-align: left;
}
.form_rows{
    display: flex;
    justify-content: flex-start;
    margin:auto;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
}
.form_submit{
    display: flex;
    justify-content: center;
}
form input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 30px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    align-items: center;

}
textarea{
    width: 90%;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=input] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label{
    padding-right: 10px;
    font-size: 20px;
}
.form_rows_des{
    padding: 20px;
    display: grid;
    padding-bottom: 0px;
   
}
/* ---- Footer File -----*/
.footer {
    padding: 20px;
    background-color: #333;
    color: white;
    
}